'.source.sass, .source.css.scss':
  'Animation':
    'prefix': 'ani'
    'body': '@include animation(${1:animation});$0'
  'Animation delay':
    'prefix': 'anide'
    'body': '@include animation-delay(${1:delay});$0'
  'Animation direction':
    'prefix': 'anidi'
    'body': '@include animation-direction(${1:direction});$0'
  'Animation duration':
    'prefix': 'anidu'
    'body': '@include animation-duration(${1:duration});$0'
  'Animation fill mode':
    'prefix': 'anifm'
    'body': '@include animation-fill-mode(${1:fill-mode});$0'
  'Animation iteration count':
    'prefix': 'aniic'
    'body': '@include animation-iteration-count(${1:iteration-count});$0'
  'Animation name':
    'prefix': 'anina'
    'body': '@include animation-name(${1:scale}, ${2:slide});$0'
  'Animation play state':
    'prefix': 'anips'
    'body': '@include animation-play-state(${1:paused});$0'
  'Animation timing function':
    'prefix': 'anits'
    'body': '@include animation-timing-function(${1:ease});$0'
  'Appearance':
    'prefix': 'appe'
    'body': '@include appearance(${1:none});$0'
  'Backface visibility':
    'prefix': 'bv'
    'body': '@include backface-visibility(${1:visible});$0'
  'Background':
    'prefix': 'bac'
    'body': '@include background(${1:background-value});$0'
  'Background image':
    'prefix': 'bai'
    'body': '@include background-image(${1:background-image-value});$0'
  'Border image':
    'prefix': 'boi'
    'body': '@include border-image(${1:border-image-value});$0'
  'Calc':
    'prefix': 'calc'
    'body': '@include calc(${1:width}, ${2:value});$0'
  'Columns':
    'prefix': 'col'
    'body': '@include columns(${1:value});$0'
  'Filter':
    'prefix': 'filt'
    'body': '@include filter(${1:value});$0'
  'Font face':
    'prefix': 'fontf'
    'body': '@include font-face(${1:font-name}, ${2:url-font}, ${3:weight});$0'
  'Font feature settings':
    'prefix': 'ffs'
    'body': '@include font-feature-settings(${1:value});$0'
  'Hypehns':
    'prefix': 'hyp'
    'body': '@include hyphens(${1:manual});$0'
  'Image rendering':
    'prefix': 'imgr'
    'body': '@include image-rendering(${1:value});$0'
  'Linear gradient':
    'prefix': 'lg'
    'body': '@include linear-gradient(${1:value});$0'
  'Perspective':
    'prefix': 'pers'
    'body': '@include perspective(${1:value});$0'
  'Placeholder':
    'prefix': 'placeh'
    'body': """
      @include placeholder {
        ${1:values}
      }$0
    """
  'Radial gradient':
    'prefix': 'radg'
    'body': '@include radial-gradient(${1:value});$0'
  'Text decoration':
    'prefix': 'tdc'
    'body': '@include text-decoration(${1:value});$0'
  'Text decoration line':
    'prefix': 'tdcl'
    'body': '@include text-decoration-line(${1:value});$0'
  'Text decoration style':
    'prefix': 'tdcs'
    'body': '@include text-decoration-style(${1:value});$0'
  'Text decoration color':
    'prefix': 'tdcc'
    'body': '@include text-decoration-color(${1:value});$0'
  'Transform':
    'prefix': 'transf'
    'body': '@include transform(${1:value});$0'
  'Transition':
    'prefix': 'transi'
    'body': '@include transition(${1:value});$0'
  'User select':
    'prefix': 'users'
    'body': '@include user-select(${1:none});$0'
  'Golden ratio':
    'prefix': 'goldr'
    'body': '@include golden-ratio(${1:value}, ${2:value});$0'
  'Modular scale':
    'prefix': 'mods'
    'body': '@include modular-scale(${1:number}, ${2:increment-value}, ${3:ratio-number});$0'
  'Em':
    'prefix': 'em'
    'body': '@include em(${1:px-number});$0'
  'Rem':
    'prefix': 'rem'
    'body': '@include rem(${1:px-number});$0'
  'Strip units':
    'prefix': 'stru'
    'body': '@include strip-units(${1:px-number});$0'
  'Tint':
    'prefix': 'tint'
    'body': '@include tint(${1:color}, ${2:percent});$0'
  'Shade':
    'prefix': 'shade'
    'body': '@include shade(${1:color}, ${2:percent});$0'
  'Unpack':
    'prefix': 'unp'
    'body': '@include unpack(${1:value});$0'
  'Border color':
    'prefix': 'boc'
    'body': '@include border-color(${1:value});$0'
  'Border style':
    'prefix': 'bos'
    'body': '@include border-style(${1:value});$0'
  'Border width':
    'prefix': 'bow'
    'body': '@include border-width(${1:value});$0'
  'Clearfix':
    'prefix': 'clf'
    'body': '@include clearfix;$0'
  'Directional property':
    'prefix': 'dirp'
    'body': '@include directional-property(${1:type}, ${2:value}, ${3:size});$0'
  'Ellipsis':
    'prefix': 'elli'
    'body': '@include ellipsis(${1:max-width});$0'
  'Hide text':
    'prefix': 'hit'
    'body': '@include hide-text;$0'
  'Margin':
    'prefix': 'marg'
    'body': '@include margin(${1:value});$0'
  'Padding':
    'prefix': 'padd'
    'body': '@include padding(${1:value});$0'
  'Position':
    'prefix': 'pos'
    'body': '@include position(${1:position-type}, ${2:value});$0'
  'Prefixer':
    'prefix': 'prefx'
    'body': '@include prefixer(${1:property}, ${2:property-value}, ${3:prefix});$0'
  'Retina image':
    'prefix': 'reti'
    'body': '@include retina-image(${1:image}, ${2:background-size});$0'
  'Size':
    'prefix': 'size'
    'body': '@include size(${1:size});$0'
  'Triangle':
    'prefix': 'triangle'
    'body': '@include triangle(${1:size}, ${2:color}, ${3:direction});$0'
  'Word wrap':
    'prefix': 'wordw'
    'body': '@include word-wrap(${1:value});$0'